#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0 !important;
}
::-webkit-scrollbar {
    width: 0 !important;height: 0;
}